<!doctype html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>Login</h1>
    <form id="login-form">
      <label for="username">Username:</label>
      <input id="username" name="username" type="text" required>
      <br>
      <label for="password">Password:</label>
      <input id="password" name="password" type="password" required>
      <br>
      <button type="submit">Login</button>
    </form>
    <div id="error"></div>
    <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>
    <script src="{{ url_for('static', filename='log.js') }}"></script>
  </body>
</html>

